//color variables
$primaryColor: #f05924;
$lightColor: #f49c7f;
$accentColor1: #ffda58;
$accentColor2: #aeadf0;
$accentColor3: #d8dcff;
$bodyTextColor: #00283a;
$bodyBackgroundColor: #fef8e2;

// font variables
$primaryFont: "Open Sans", sans-serif;
$headingFont: "Francois One", sans-serif;
